{% extends "base_generic.html" %}
{% block title %}The Barbarossa Campaign{% endblock %}

{% block content %}
<h1>Play</h1>
<p><a href="/play">Click to play <em>The Barbarossa Campaign</em></a></p>

<h1>You, Alone, and The Russian Front</h1>

<p>
The Barbarossa Campaign recalls the titanic struggle on the Russian Front of
World War II as no other wargame has presented it before – as a story filled
with drama and pathos using a novel new solitaire gaming system that puts you,
the Axis Player, in command facing momentous events – some- times history’s
master, and at other times its pawn.
</p>

<p>
Featuring a dynamic game engine, where you must attempt to collapse the Soviet
Union against all odds – where the cunning strategies you devise while
directing your panzer thrusts eastward or offering fanatical resistance as the
Red Army pushes relentlessly back, you will bask in a fresh, new retelling of
this epic story each time the game is played.
</p>

<p>
Plumb the possibilities offered in The Barbarossa Campaign where myriad
historical “What ifs?” are constantly explored and where you will be swept away
by the ebb and flow of vast battles that can be swiftly mastered after
encountering rules of only moderate difficulty. It is time to revel in your
hobby again with this fast-moving, innovative Russian Front wargame built for
fun and enjoy the “story” in history afresh every time you play it.
</p>

{% endblock %}
