{% extends "base_generic.html" %}
{% block title %}Choose your scenario{% endblock %}

{% block header %}
	<script src="js/pick-game.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="container">
	<div class="span-24 last"><h1>Select your scenario</h1></div>

	<div class="span-4 small">
		<strong>Historical gameplay option</strong>
		<p>
		Some scenarios have a "historical gameplay option". If you click the button, the setup changes for that
		options will take effect. More details on how this affect play are presented under each scenario.
		</p>
	</div>

	<div class="span-14 prepend-1 append-1">
	<div id="accordion">
		<h3 id="barbarossa"><a href="#">Summer 1941: The Barbarossa Campaign</a></h3>
		<div>
			<p>
			<form name="select-scenario" action="select-scenario" method="post">
				<input type="hidden" name="scenario" value="barbarossa"/>
				<input type="submit" value="Play This!"/>
			</form>
			</p>

			<p>
			<div class="small quiet">Historical gameplay option: none</div>
			The full Eastern Front from beginning to bitter end.
			</p>
		</div>

		<h3 id="fall_blau"><a href="#">Summer 1942: Fall Blau</a></h3>
		<div>
			<p>
				<form name="select-scenario" action="select-scenario" method="post">
					<input type="checkbox" name="historical" id="blau_check"/><label for="blau_check">Use Historical Option</label>
					<input type="hidden" name="scenario" value="fall-blau"/>
					<input type="submit" value="Play This!"/>
				</form>
			</p>

			<p>
				<div class="small quiet">Historical gameplay option: <em>Drive for Oil</em> is the first event in this scenario.</div>
				"Case Blue" was the German codename for its 1942 summer offensive.
			</p>
		</div>

		<h3 id="operation_saturn"><a href="#">Winter 1942: Operation Saturn</a></h3>
		<div>
			<p>
			<form name="select-scenario" action="select-scenario" method="post">
				<input type="hidden" name="scenario" value="operation-saturn"/>
				<input type="submit" value="Play This!"/>
			</form>
			</p>

			<p>
			<div class="small quiet">Historical gameplay option: none</div>
			The Soviets planned a winter campaign of continuous and
			highly ambitious offensive operations.
			</p>
		</div>

		<h3 id="point_kursk"><a href="#">Summer 1943: Turning Point: Kursk</a></h3>
		<div>
			<p>
				<form name="select-scenario" action="select-scenario" method="post">
					<input type="checkbox" name="historical" id="kursk_check"/><label for="kursk_check">Use Historical Option</label>
					<input type="hidden" name="scenario" value="kursk"/>
					<input type="submit" value="Play This!"/>
				</form>
			</p>
			
			<p>
			<div class="small quiet">Historical gameplay option: The <em>Soviet Initiative Combat</em> on the first turn is in the South.</div>
			The Germans hoped to shorten their lines with pincers breaking through the Kursk salient.  
			</p>
		</div>

		<h3 id="destruction"><a href="#">Spring 1944: Destruction of Army Group Center</a></h3>
		<div>
			<p>
				<form name="select-scenario" action="select-scenario" method="post">
					<input type="checkbox" id="destruction_check"/><label for="destruction_check">Use Historical Option</label>
					<input type="hidden" name="scenario" value="destruction"/>
					<input type="submit" value="Play This!"/>
				</form>
			</p>

			<p>
			<div class="small quiet">Historical gameplay option: The <em>Soviet Initiative Combat</em> on the first two turns (Spring and Summer) are in the North.</div>
			Operation Bagration was Germany's "most calamitous defeat".
			</p>
		</div>

		<h3 id="iron_dream"><a href="#">Winter 1944: End of the Iron Dream</a></h3>
		<div>
			<p>
				<form name="select-scenario" action="select-scenario" method="post">
					<input type="checkbox" name="historical" id="dream_check"/><label for="dream_check">Use Historical Option</label>
					<input type="hidden" name="scenario" value="iron-dream"/>
					<input type="submit" value="Play This!"/>
				</form>
			</p>

			<p>
			<div class="small quiet">Historical gameplay option: The <em>Soviet Initiative Combat</em> on the first two turns (Winter and Spring) are in the North.</div>
			The last year of war in Europe.
			</p>
		</div>
	</div>
	</div>

	<div class="span-4 last quiet small">
		<p>
		No matter what scenario you pick you can choose to play to the end of the
		war or to the end-point of any scenario.
		</p>
		<p>
		For example:
		<ul class="box">
			<li>Summer 1941 to the end of the war</li>
			<li>Spring 1944 to the end of the war</li>
			<li>Summer 1941 to Spring 1944</li>
			<li>Summer 1942 to Winter 1942</li>
			<li>and so on...</li>
		</ul>
		</p>
	</div>
{% endblock %}
